# Web
DEBUG                   = 0
SECRET_KEY              = django-insecure-!wdr(6&yz(jr)cr8j^na&=2j*n^@6m8l_hh51fn#qzuz@ses-c
DJANGO_ALLOWED_HOSTS    = localhost 127.0.0.1 [::1] 0.0.0.0
BACKEND_CORS_ORIGINS    = http://localhost:3000 http://127.0.0.1:3000 http://localhost:8080 http://127.0.0.1:8080 http://localhost:8081 http://127.0.0.1:8081
HOST                    = localhost

# Database
SQL_ENGINE              = django.db.backends.postgresql
SQL_DATABASE            = postgres
SQL_USER                = postgres
SQL_PASSWORD            = postgres
SQL_HOST                = db
SQL_PORT                = 5432
DATABASE                = postgres

# SMTP
EMAIL_HOST_USER         = 'karimovbillal20002@gmail.com'
EMAIL_HOST_PASSWORD     = 'bzcocbjbmadmpbfw'
